*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #fff;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #B11830;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 05);
}

.wrapper .sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.wrapper .sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 30px;
    font-size: 1.5em;
    color: #000000;
}

.wrapper .sidebar ul li a .text{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff;
    text-transform: 0.05em;
    letter-spacing: 0.05em;

}

.wrapper .sidebar ul li:hover{
    background: #fff;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .sidebar ul li:hover a .text{
    color: #000000;
}

.wrapper .sidebar .Out a{
    position: absolute;
    bottom: 50px;
    display: flex;
}


.wrapper .sidebar .Out a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 30px;
    font-size: 1.5em;
    color: #fff;

}

.wrapper .sidebar .Out a .text{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff;
    text-transform: 0.05em;
    letter-spacing: 0.05em;

}


.wrapper .sidebar .Out a:hover{
    color: #fff;
}

.wrapper .sidebar .Out a:hover .text{
    color: #000000;
}


.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    position: relative;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #B11830;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.info{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 20px;
}




.actions{
    margin: 20px;
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

.table{
    width: 100%;

}

.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.table_header p{
    color: #000000;
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;


}

.add_new{
    padding: 10px 20px;
    color: #fff;
    background-color: #0298cf;
}
input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid;
    border-radius: 6px;
    color: #0298cf;
}
.table_section{
    height: 650px;
    overflow: auto;
}
table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
thead th{
    position: sticky;
    top: 0;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}
th,td{
    border-bottom: 1px solid #fff;
    padding: 5px;
    word-break: break-all;
    text-align: center;
    font-size: 10px;
}

::placeholder{
    color: #0298cf;
}
.btnactions {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    margin-left: 40px;
  }
  
  .btnactions button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;

  }
  
  .btnactions button .btnicon {
    font-size: 20px; /* Tamaño del ícono */
    color: #000; /* Color del ícono */
  }
  
  .btnactions button:hover .btnicon {
    color: #0298cf; /* Cambia el color del ícono al pasar el ratón sobre él */
  }