
<body>
    <div class="wrapper">
        <div class="sidebar">
            <H2>sidebar</H2>
            <ul>
                <li>
                    <a href="#" routerLink="/Home">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon></span>
                        <span class="text">Personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Contratos"  >
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon></span>
                        <span class="text">Contratos</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Agregar-Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon></span>
                        <span class="text">Agregar personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Generar-Contrato">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="note_add"></mat-icon></span>
                        <span class="text">Generar contrato</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Ajustes">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_accounts"></mat-icon></span>
                        <span class="text">Ajustes</span>
                    </a>
                </li>
            </ul>
            <div class="Out">
                <a href="">
                    <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon"fontIcon="home"></mat-icon></span>
                    <span class="text">Log Out
                    </span>
                </a>
            </div>
        </div>

        
        <div class="main_content">
            <div class="header">Sistema de Contratos Ujed</div>
            <div class="content">
                <div class="info">
                    <div>/Personal</div>
                    <div>Fecha</div>
                </div>

                <div class="actions">

                    <div class="table_header">
                        <p>Personal</p>
                        <div>
                            <input placeholder="personal">
                            <button class="add_new">add new</button>
                        </div>
                    </div>
                    <div class="table_section">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                    <th>Nacionalidad</th>
                                    <th>CURP</th>
                                    <th>RFC</th>
                                    <th>CP</th>
                                    <th>Calle</th>
                                    <th>Colonia</th>
                                    <th>Numero Interior</th>
                                    <th>Numero Exterior</th>
                                    <th>Estado</th>
                                    <th>Municipio</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataSource.data">
                                    <td>{{ item.id_Personal }}</td>
                                    <td>{{ item.Nombre_Personal }}</td>
                                    <td>{{ item.Apellido_Personal }}</td>
                                    <td>{{ item.Telefono }}</td>
                                    <td>{{ item.Correo }}</td>
                                    <td>{{ item.Nacionalidad }}</td>
                                    <td>{{ item.CURP }}</td>
                                    <td>{{ item.RFC }}</td>
                                    <td>{{ item.CP }}</td>
                                    <td>{{ item.Calle }}</td>
                                    <td>{{ item.Colonia }}</td>
                                    <td>{{ item.NumeroIn }}</td>
                                    <td>{{ item.NumeroEx }}</td>
                                    <td>{{ item.Estado }}</td>
                                    <td>{{ item.Municipio }}</td>
                                    <td>
                                        <div class="btnactions">
                                        <button (click)="delete(item.id_Personal, item.Nombre_Personal)"><mat-icon class="btnicon" matTooltip="eliminar">delete</mat-icon></button>
                                        <button (click)="edit(item.id_Personal)"><mat-icon class="btnicon" matTooltip="editar">edit</mat-icon></button>
                                        <button (click)="detalles(item.id_Personal, item.Nombre_Personal)"><mat-icon class="btnicon" matTooltip="detalles">add</mat-icon></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>