*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f3f5f9;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #B11830;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 05);
}

.wrapper .sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.wrapper .sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 30px;
    font-size: 1.5em;
    color: #000000;
}

.wrapper .sidebar ul li a .text{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #000000;
    text-transform: 0.05em;
    letter-spacing: 0.05em;

}

.wrapper .sidebar ul li:hover{
    background: #fff;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .sidebar .Out a{
    position: absolute;
    bottom: 50px;
    display: flex;
}


.wrapper .sidebar .Out a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 30px;
    font-size: 1.5em;
    color: #000000;

}

.wrapper .sidebar .Out a .text{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #000000;
    text-transform: 0.05em;
    letter-spacing: 0.05em;

}


.wrapper .sidebar .Out a:hover{
    color: #fff;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #B11830;
    color: #fff;
    text-align: center;
}

.info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.info{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 20px;
}

.actions{
    overflow: hidden;
}