
<body>
    <div class="wrapper">
        <div class="sidebar">
            <H2>sidebar</H2>
            <ul>
                <li>
                    <a href="#" routerLink="/Home">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></span>
                        <span class="text">Pagina Principal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon></span>
                        <span class="text">Datos Personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Agregar-Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon></span>
                        <span class="text">Agregar personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Contratos"  >
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon></span>
                        <span class="text">Datos Contratos</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Ajustes">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_accounts"></mat-icon></span>
                        <span class="text">Ajustes</span>
                    </a>
                </li>
            </ul>
            <div class="Out">
                <a href="">
                    <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon"fontIcon="logout"></mat-icon></span>
                    <span class="text">Cerrar Sesion</span>
                </a>
            </div>
        </div>

        
        <div class="main_content">
            <div class="header">Sistema de Contratos Ujed</div>
            <div class="content">
                <div class="info">
                    <div>/Personal</div>
                    <div>Fecha</div>
                </div>

                <div class="actions">

                    <div class="table_header">
                        <p>Personal</p>
                        <div>
                            <input placeholder="personal">
                        </div>
                    </div>
                    <div class="table_section">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre Completo</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                    <th>Nacionalidad</th>
                                    <th>CURP</th>
                                    <th>RFC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataSource.data">
                                    <td>{{ item.Apellido_Personal }} {{ item.Nombre_Personal }}</td>
                                    <td>{{ item.Telefono }}</td>
                                    <td>{{ item.Correo }}</td>
                                    <td>{{ item.Nacionalidad }}</td>
                                    <td>{{ item.CURP }}</td>
                                    <td>{{ item.RFC }}</td>
                                    <td>
                                        <div class="btnactions">
                                        <button (click)="delete(item.id_Personal, item.Nombre_Personal)"><mat-icon class="btnicon" matTooltip="eliminar">delete</mat-icon></button>
                                        <button (click)="edit(item.id_Personal)"><mat-icon class="btnicon" matTooltip="Editar: {{item.Apellido_Personal}} {{item.Nombre_Personal}}">edit</mat-icon></button>
                                        <button (click)="generar(item.id_Personal)"><mat-icon class="btnicon" matTooltip="Contrato: {{item.Apellido_Personal}} {{item.Nombre_Personal}}">add</mat-icon></button>
                                        <button (click)="information(item.id_Personal, item.Correo)"><mat-icon class="btnicon" matTooltip="Detalles: {{item.Apellido_Personal}} {{item.Nombre_Personal}}">info</mat-icon></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>