<!-- servicios.component.html -->
<header>
    <div class="logo">
        <!-- Puedes reemplazar el siguiente texto con tu imagen de logo -->
        Logo
    </div>

    <div class="links">
        <a href="#">Inicio</a>
        <a href="#">Servicios</a>
        <a href="#">Acerca de nosotros</a>
        <a routerLink="/About">Contacto</a>
    </div>

    <div class="buttons">
        <button class="login-btn">Iniciar Sesión</button>
        <button class="register-btn">Registro</button>
    </div>
</header>

<div class="container-option">
    <ul class="btn-option">
      <li (click)="cargarComponente('uno')" class="btn-option-1">Iniciar Sesion</li>
      <li (click)="cargarComponente('dos')" class="btn-option-2">Registrarse</li>
    </ul>
  </div>
  <div>
    <ng-container *ngComponentOutlet="componenteActual"></ng-container>
  </div>
  