<body>
    <div class="wrapper">
        <div class="sidebar">
            <img src="../../../assets/img/logotype.png" alt="Nombre de la imagen">
            <ul>
                <li>
                    <a href="#" routerLink="/Home">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></span>
                        <span class="text">Pagina Principal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon></span>
                        <span class="text">Datos Personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Agregar-Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon></span>
                        <span class="text">Agregar personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Contratos"  >
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon></span>
                        <span class="text">Datos Contratos</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Ajustes">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_accounts"></mat-icon></span>
                        <span class="text">Ajustes</span>
                    </a>
                </li>
            </ul>
            <div class="Out">
                <a href="">
                    <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon"fontIcon="logout"></mat-icon></span>
                    <span class="text">Cerrar Sesion</span>
                </a>
            </div>
        </div>

        
        <div class="main_content">
            <div class="header">Sistema de Contratos Ujed</div>
            <div class="content">
                <div class="info">
                    <div>/Informacion del perfil</div>
                    <div>{{ fechaYHora | date:'medium' }}</div>
                </div>

                <div class="actions" *ngFor="let per of personal">
                    <p><span>Nombre completo:</span> {{per.Apellido_Personal}} {{per.Nombre_Personal}}</p>
                    <p><span>Telefono:</span> {{per.Telefono}}</p>
                    <p><span>Correo:</span> {{per.Correo}}</p>
                    <p><span>Nacionalidad:</span> {{per.Nacionalidad}}</p>
                    <p><span>CURP:</span> {{per.CURP}} <span>RFC:</span> {{per.RFC}}</p>
                    <p><span>Domicilio:</span> {{per.calle}} No. {{per.NumeroIn}} Ext. {{per.NumeroEx}}, Col. {{per.Colonia}}, <span>CP</span> {{per.CP}}</p>
                    <p><span>Ubicación:</span> {{per.Estado}}, {{per.Municipio}}</p>
                </div>
                

            </div>
        </div>
    </div>
</body>