<header>
    <div class="logo">
        <!-- Puedes reemplazar el siguiente texto con tu imagen de logo -->
        Logo
    </div>

    <div class="links">
        <a routerLink="/Home">Inicio</a>
        <a routerLink="/Servicios">Servicios</a>
        <a routerLink="/About">Acerca de nosotros</a>
        <a routerLink="/Contact-info">Contacto</a>
    </div>

    <div class="buttons">
        <button class="login-btn" routerLink="/Login">Iniciar Sesión</button>
    </div>
</header>
<div class="contenedor">
    <div class="columna izquierda">
        <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D" alt="Imagen" class="imagen">
    </div>
    <div class="columna derecha">
        <h1>Título</h1>
        <h2>Subtítulo</h2>
        <p>Nombre: Juan Pérez</p>
        <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button class="iniciar-btn" routerLink="/blogs"><span>Inicio</span> <i class="fas fa-arrow-right"></i></button>
    </div>
</div>