 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.sidebar{
    position: absolute;
    width: 250px;
    height: 100%;
    background: #B11830;
}

.sidebar ul{
    position: absolute;
    height: 100%;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li:hover{
    background: #f3f3f3 ;
}
.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #000000;
}
.sidebar ul li a .text{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333 0.05em;
    text-transform: 0.05em;
    letter-spacing: 0.05em;
}
.sidebar ul li .logo{
    margin-bottom: 50px;
}
.sidebar ul li .logo:hover{
   background: #fff;
}
.sidebar ul li .logo .icon{
    font-size: 2em;
}
.sidebar ul li .logo .text{
    font-size: 1.2em;
    font-weight: 500;

}
.bottom{
    position: absolute;
    bottom: 15%;
    width: 100%;
}





/* Estilo para el toolbar */
#toolbar {
    width: 85%; /* Ancho del 80% del viewport */
    height: 60px; /* Altura fija de 50px */
    background-color: #B11830;
    color: #fff;
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: 50px; /* Altura de línea igual a la altura del elemento */
    float: right; /* Hacer flotar a la derecha */
}
/* Estilo para el contenedor de contenido */
#content {
    margin: 20px 20px 20px 20px; /* Margen exterior de 20px */
    width: calc(80% - 20px); /* Ancho del 80% del viewport menos los márgenes */
    height: calc(90% - 70px); /* Altura del viewport menos la altura del toolbar y los márgenes */
    float: right; /* Hacer flotar a la derecha */
    
}
f

p{
    size: 50px;
    
}
.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
/* Estilo para la tarjeta */
.tarjeta {
    width: calc(30%); /* Ancho de la tarjeta (50% del contenedor menos el espacio entre ellas) */
    height: 200px; /* Altura de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sólido de color gris */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    cursor: pointer;
}

.date{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}