.container{
    color: rgb(242, 237, 237);
    width: 100%;
    height: 100%;
}
.titulo{
    color: rgb(246, 243, 243);
    size: 500;
}
.cont-titulo{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}