
<body>
  <div class="container">
    <div class="left-section">
      <img src="../../../assets/img/logo.png" alt="Imagen">
    </div>
    <div class="right-section">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Login form</h1>
        <div class="form-group">
          <label for="">Correo</label>
          <input type="email" class="form-control" placeholder="Correo electrónico*" id="usermail" formControlName="usermail" required>
        </div>
        <div>
          <label for="">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña*" id="userpassword" formControlName="userpassword" required>
        </div>
        <input type="submit" class="btn" value="Login">
      </form>
    </div>
  </div>
</body>
