<div class="container">
    <div class="left-section">
        <!-- Puedes reemplazar la siguiente URL con la ruta de tu imagen -->
        <img src="tu-imagen.jpg" alt="Imagen Izquierda">
    </div>
    <div class="right-section">
        <h1>REGISTRARSE</h1>
        <form [formGroup]="signupForm" (ngSubmit)="Registrar()">
            <label for="usermail">Correo:</label>
            <input type="text" id="usermail" formControlName="usermail" required placeholder="correo@example.com">

            <label for="userpassword">Contraseña:</label>
            <input type="password" id="userpassword" formControlName="userpassword" required placeholder="**********">

            <button type="submit">Enviar</button>
        </form>
    </div>
</div>