<!-- servicios.component.html -->
<header>
    <div class="logo">
        <!-- Puedes reemplazar el siguiente texto con tu imagen de logo -->
        Logo
    </div>

    <div class="links">
        <a href="#">Inicio</a>
        <a routerLink="/dashboard-admin">Dashboard</a>
        <a href="#">Servicios</a>
        <a href="#">Acerca de nosotros</a>
        <a routerLink="/About">Contacto</a>
    </div>

    <div class="buttons">
        <button class="login-btn">Cerrar Sesion</button>
    </div>
</header>

<footer>
  <p>&copy; 2023 Company Name. All rights reserved.</p>
</footer>


  <div class="dashboard-container">
    <aside class="sidebar">
        <h2>Dashboard Menu</h2>
        <ul>
          <li (click)="cargarComponente('uno')" class="btn-option-1">Blogs</li>
          <li (click)="cargarComponente('dos')" class="btn-option-2">Empresas</li>
        </ul>
    </aside>
    <div class="content">
        <section>
          <ng-container *ngComponentOutlet="componenteActual"></ng-container>
        </section>
    </div>
</div>
