
<body>
    <div class="wrapper">
        <div class="sidebar">
            <img src="../../../assets/img/logotype.png" alt="Nombre de la imagen">
            <ul>
                <li>
                    <a href="#" routerLink="/Home">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></span>
                        <span class="text">Pagina Principal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon></span>
                        <span class="text">Datos Personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Agregar-Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon></span>
                        <span class="text">Agregar personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Contratos"  >
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon></span>
                        <span class="text">Datos Contratos</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Ajustes">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_accounts"></mat-icon></span>
                        <span class="text">Ajustes</span>
                    </a>
                </li>
            </ul>
            <div class="Out">
                <a href="">
                    <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon"fontIcon="logout"></mat-icon></span>
                    <span class="text">Cerrar Sesion</span>
                </a>
            </div>
        </div>

        <div class="main_content">
            <div class="header">Sistema de Contratos Ujed</div>
            <div class="content">
                <div class="info">
                    <div>/Configuracion</div>
                    <div>{{ fechaYHora | date:'medium' }}</div>
                </div>
                <div class="actions">
                    <h1>Datos Administrativos</h1>
                    <form [formGroup]="form" (ngSubmit)="actualizar()">
                        <div class="column">
                            <label for="Puesto">Puesto</label>
                            <select formControlName="Puesto" id="Puesto" (change)="seleccionarPuesto($event)">
                                <option value="" disabled selected>Seleccione el puesto</option>
                                <option value="direccion">Dirección de Desarrollo y Gestión de Recursos Humanos</option>
                                <option value="contraloria">Contraloría General</option>
                                <option value="tesorero">Tesorero General</option>
                            </select>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label for="Nombre">Nombre Completo</label>
                                <input formControlName="Nombre" type="text" id="Nombre" placeholder="Ingrese el Nombre Completo" />
                            </div>
                            <div class="input-box">
                                <label for="Apellido">Apellido Completo</label>
                                <input formControlName="Apellido" type="text" id="Apellido" placeholder="Ingrese el Apellido Completo" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label for="Correo">Correo Electrónico</label>
                                <input formControlName="Correo" type="email" id="Correo" placeholder="Ingrese el Correo Electrónico" />
                            </div>
                        </div>
                        <button>Actualizar</button>
                    </form>
                </div>
                
            </div>
        </div>

    </div>
</body>