/* servicios.component.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #333;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
}

.links {
  display: flex;
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.buttons{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    width: 15%;
}

.login-btn {
  background-color: #3498db; /* Azul */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
}

.register-btn {
  background-color: #2ecc71; /* Verde */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
}

.container-option {
  text-align: center;
  display: flex;
  /*margin: 20px;*/
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;

}

.btn-option {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  /* margin: 0 10px; */
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  /* border-radius: 5px; */
  width: 100%;
}

li:hover {
  background-color: #2980b9;
  /* Azul más oscuro al pasar el ratón */
}

ng-container {
  margin-top: 20px;
}