body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #333;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
}

.links {
  display: flex;
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.buttons{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    width: 15%;
}

.login-btn {
  background-color: #3498db; /* Azul */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
}

.register-btn {
  background-color: #2ecc71; /* Verde */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
}

.post {
  
  border: solid red 1px;
  padding: 10px;
  margin-bottom: 20px;
}

.comments {
  margin-top: 20px;
}

.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card-horizontal {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 15px;
}

.card-details {
  flex-grow: 1;
}

h2 {
  margin-bottom: 10px;
}

button{
  border-radius: 13px;
  width: 300px;
  height: 29px;
  /* color: green; */
  background-color: peachpuff;
}
form{
  display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

input{width: 439px;
  padding: 5px;
  margin: 8px;}