
<div class="card-horizontal" *ngFor="let blog of blogs">
    <img src="https://via.placeholder.com/150" alt="Imagen" class="card-img">
    <div class="card-details" *ngIf="blog">
      <h2>Titulo: {{ blog.Titulo_Blog }}</h2>
      <p>{{ blog.Subtitulo_Blog }}</p>
      <p>{{ blog.Contenido_Blog }}</p>
      <p>Fecha de Creación: {{ blog.Fecha_Blog }}</p>
      <button class="ver-btn" (click)="blog.id !== undefined ? detalles(blog.id, blog.Titulo_Blog) : null">leer</button>
    </div>
  </div>
  