<header>
    <div class="logo">
        <!-- Puedes reemplazar el siguiente texto con tu imagen de logo -->
        Logo
    </div>

    <div class="links">
        <a routerLink="/Home">Inicio</a>
        <a routerLink="/Servicios">Servicios</a>
        <a routerLink="/About">Acerca de nosotros</a>
        <a routerLink="/Contact-info">Contacto</a>
    </div>

    <div class="buttons">
        <button class="login-btn" routerLink="/Login">Iniciar Sesión</button>
    </div>
</header>


<footer>
    <p>&copy; 2023 Company Name. All rights reserved.</p>
</footer>



<div class="dashboard-container">
    <aside class="sidebar">
        <h2>Dashboard Menu</h2>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </aside>

    <div class="content">
        <header>
            <h1>Welcome to the Dashboard</h1>
        </header>

        <section>
            <p>This is the main content of your dashboard.</p>
        </section>
    </div>
</div>
