
<body>
    <div class="wrapper">
        <div class="sidebar">
            <img src="../../../assets/img/logotype.png" alt="Nombre de la imagen">
            <ul>
                <li>
                    <a href="#" routerLink="/Home">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></span>
                        <span class="text">Pagina Principal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon></span>
                        <span class="text">Datos Personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Agregar-Personal">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add"></mat-icon></span>
                        <span class="text">Agregar personal</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Contratos"  >
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon></span>
                        <span class="text">Datos Contratos</span>
                    </a>
                </li>
                <li >
                    <a href="#" routerLink="/Ajustes">
                        <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_accounts"></mat-icon></span>
                        <span class="text">Ajustes</span>
                    </a>
                </li>
            </ul>
            <div class="Out">
                <a href="">
                    <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon"fontIcon="logout"></mat-icon></span>
                    <span class="text">Cerrar Sesion</span>
                </a>
            </div>
        </div>

        <div class="main_content">
            <div class="header">Sistema de Contratos Ujed</div>
            <div class="content">
                <div class="info">
                    <div>/Agregar nuevo personal</div>
                    <div>{{ fechaYHora | date:'medium' }}</div>
                </div>

                <div class="actions">
                    <H1>Formulario de Registro de Personal</H1>
                    <form [formGroup]="form" (ngSubmit)="addPersonal()" class="form">
                        <div class="input-box">
                            <label for="Nombre_Personal">Nombre Completo</label>
                            <input formControlName="Nombre_Personal" type="text" id="Nombre_Personal" placeholder="Ingrese el nombre completo" oninput="this.value = this.value.toUpperCase()" />
                            <div class="validacion" *ngIf="form.controls['Nombre_Personal'].invalid && (form.controls['Nombre_Personal'].touched || form.controls['Nombre_Personal'].dirty) ">
                                <span *ngIf="form.controls['Nombre_Personal'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['Nombre_Personal'].errors?.['pattern']">El campo solo debe contener palabras</span>
                            </div>
                        </div>
                    
                        <div class="input-box">
                            <label for="Apellido_Personal">Apellido Completo</label>
                            <input formControlName="Apellido_Personal" type="text" id="Apellido_Personal" placeholder="Ingrese el apellido completo" oninput="this.value = this.value.toUpperCase()"/>
                            <div class="validacion" *ngIf="form.controls['Apellido_Personal'].invalid && (form.controls['Apellido_Personal'].touched || form.controls['Apellido_Personal'].dirty) ">
                                <span *ngIf="form.controls['Apellido_Personal'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['Apellido_Personal'].errors?.['pattern']">El campo solo debe contener palabras</span>
                            </div>
                        </div>
                    
                        <div class="input-box">
                            <label for="Telefono">Teléfono</label>
                            <input formControlName="Telefono" type="text"  id="Telefono" placeholder="Ingrese el número de teléfono"  oninput="this.value = this.value.toUpperCase()"/>
                            <div class="validacion" *ngIf="form.controls['Telefono'].invalid && (form.controls['Telefono'].touched || form.controls['Telefono'].dirty) ">
                                <span *ngIf="form.controls['Telefono'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['Telefono'].errors?.['pattern']">El campo solo debe contener numeros</span>
                            </div>
                        </div>
                    
                        <div class="input-box">
                            <label for="Correo">Correo Electronico</label>
                            <input  formControlName="Correo" type="email" id="correo" placeholder="Ingrese el correo electrónico"  />
                            <div class="validacion" *ngIf="form.controls['Correo'].invalid && (form.controls['Correo'].touched || form.controls['Correo'].dirty) ">
                                <span *ngIf="form.controls['Correo'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['Correo'].errors?.['email']">El campo debe tener el formato user@domain.com</span>
                            </div>
                        </div>
                    
                        <div class="input-box">
                            <label for="Nacionalidad">Nacionalidad</label>
                            <input formControlName="Nacionalidad" type="text" id="Nacionalidad" placeholder="Ingrese la nacionalidad"  oninput="this.value = this.value.toUpperCase()"/>
                            <div class="validacion" *ngIf="form.controls['Nacionalidad'].invalid && (form.controls['Nacionalidad'].touched || form.controls['Nacionalidad'].dirty) ">
                                <span *ngIf="form.controls['Nacionalidad'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['Nacionalidad'].errors?.['pattern']">El campo solo debe contener palabras</span>
                            </div>
                        </div>
                    
                        <div class="column">
                            <div class="input-box">
                                <label for="CURP">CURP</label>
                                <input formControlName="CURP" type="text" id="CURP" placeholder="ingrese la CURP"  oninput="this.value = this.value.toUpperCase()"/>
                                <div class="validacion" *ngIf="form.controls['CURP'].invalid && (form.controls['CURP'].touched || form.controls['CURP'].dirty) ">
                                    <span *ngIf="form.controls['CURP'].errors?.['required']">El nombre es requerido</span>
                                </div>
                            </div>
                    
                            <div class="input-box">
                                <label for="RFC">RFC</label>
                                <input  formControlName="RFC" type="text" id="RFC" placeholder="ingrese el RFC"  oninput="this.value = this.value.toUpperCase()"/>
                                <div class="validacion" *ngIf="form.controls['RFC'].invalid && (form.controls['RFC'].touched || form.controls['RFC'].dirty) ">
                                    <span *ngIf="form.controls['RFC'].errors?.['required']">El nombre es requerido</span>
                                </div>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="CP">Codigo Postal</label>
                            <input  formControlName="CP" type="text" id="CP" placeholder="Ingrese el código postal" oninput="this.value = this.value.toUpperCase()" />
                            <div class="validacion" *ngIf="form.controls['CP'].invalid && (form.controls['CP'].touched || form.controls['CP'].dirty) ">
                                <span *ngIf="form.controls['CP'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['CP'].errors?.['pattern']">El campo solo debe contener numeros</span>
                            </div>
                        </div>
                    
                        <div class="input-box">
                            <label for="calle">Calle</label>
                            <input formControlName="Calle" type="text" id="calle" placeholder="Ingrese el nombre de la calle" oninput="this.value = this.value.toUpperCase()" />
                            <div class="validacion" *ngIf="form.controls['Calle'].invalid && (form.controls['Calle'].touched || form.controls['Calle'].dirty) ">
                                <span *ngIf="form.controls['Calle'].errors?.['required']">El nombre es requerido</span>
                            </div>
                        </div>
                        
                        <div class="input-box">
                            <label for="Colonia">Colonia</label>
                            <input formControlName="Colonia" type="text" id="Colonia" placeholder="Ingrese el nombre de la colonia" oninput="this.value = this.value.toUpperCase()"/>
                            <div class="validacion" *ngIf="form.controls['Colonia'].invalid && (form.controls['Colonia'].touched || form.controls['Colonia'].dirty) ">
                                <span *ngIf="form.controls['Colonia'].errors?.['required']">El nombre es requerido</span>
                                <span *ngIf="form.controls['Colonia'].errors?.['pattern']">El campo solo debe contener numeros</span>
                            </div>
                        </div>
                    
                        <div class="column">
                            <div class="input-box">
                                <label for="NumeroIn">Número Interior</label>
                                <input formControlName="NumeroIn" type="text" id="NumeroIn" placeholder="Ingrese el número interior" oninput="this.value = this.value.toUpperCase()"/>
                                <div class="validacion" *ngIf="form.controls['NumeroIn'].invalid && (form.controls['NumeroIn'].touched || form.controls['NumeroIn'].dirty) ">
                                    <span *ngIf="form.controls['NumeroIn'].errors?.['required']">El nombre es requerido</span>
                                    <span *ngIf="form.controls['NumeroIn'].errors?.['pattern']">El campo solo debe contener numeros</span>
                                </div>
                            </div>
                    
                            <div class="input-box">
                                <label for="NumeroEx">Número Exterior</label>
                                <input  formControlName="NumeroEx" type="text" id="NumeroEx" placeholder="Ingrese el número exterior" oninput="this.value = this.value.toUpperCase()"/>
                                <div class="validacion" *ngIf="form.controls['NumeroEx'].invalid && (form.controls['NumeroEx'].touched || form.controls['NumeroEx'].dirty) ">
                                    <span *ngIf="form.controls['NumeroEx'].errors?.['required']">El nombre es requerido</span>
                                    <span *ngIf="form.controls['NumeroEx'].errors?.['pattern']">El campo solo debe contener numeros</span>
                                </div>
                            </div>
                        </div>
                    
                        <div class="column">
                            <div class="input-box">
                                <label for="estado">Estado</label>
                                <input formControlName="Estado" type="text" id="estado" placeholder="Ingrese el estado"  oninput="this.value = this.value.toUpperCase()"/>
                                <div class="validacion" *ngIf="form.controls['Estado'].invalid && (form.controls['Estado'].touched || form.controls['Estado'].dirty) ">
                                    <span *ngIf="form.controls['Estado'].errors?.['required']">El nombre es requerido</span>
                                    <span *ngIf="form.controls['Estado'].errors?.['pattern']">El campo solo debe contener palabras</span>
                                </div>
                            </div>
                    
                            <div class="input-box">
                                <label for="municipio">Municipio</label>
                                <input formControlName="Municipio" type="text" id="municipio" placeholder="Ingrese el municipio" oninput="this.value = this.value.toUpperCase()"/>
                                <div class="validacion" *ngIf="form.controls['Municipio'].invalid && (form.controls['Municipio'].touched || form.controls['Municipio'].dirty) ">
                                    <span *ngIf="form.controls['Municipio'].errors?.['required']">El nombre es requerido</span>
                                    <span *ngIf="form.controls['Municipio'].errors?.['pattern']">El campo solo debe contener palabras</span>
                                </div>
                            </div>
                        </div>

                        <button>Crear Registro Nuevo</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>