body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.sidebar{
    position: absolute;
    width: 250px;
    height: 100%;
    background: #B11830;
}

.sidebar ul{
    position: absolute;
    height: 100%;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li:hover{
    background: #f3f3f3 ;
}

.sidebar .screenpersonal ul li a .text{
    color: #B11830;
}
.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #000000;
}
.sidebar ul li a .text{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #fff 0.05em;
    text-transform: 0.05em;
    letter-spacing: 0.05em;
}
.sidebar ul li .logo{
    margin-bottom: 50px;
}
.sidebar ul li .logo:hover{
   background: #fff;
}
.sidebar ul li .logo .icon{
    font-size: 2em;
}
.sidebar ul li .logo .text{
    font-size: 1.2em;
    font-weight: 500;

}
.bottom{
    position: absolute;
    bottom: 15%;
    width: 100%;
}


#toolbar {
    width: 85%; 
    height: 60px;
    background-color: #B11830;
    color: #fff;
    text-align: center;
    line-height: 50px; 
    float: right;
}